[submodule "vendor/Erebot_API"]
	path = vendor/Erebot_API
	url = git://github.com/fpoirotte/Erebot_API.git
[submodule "vendor/Plop"]
	path = vendor/Plop
	url = git://github.com/fpoirotte/Plop.git
[submodule "vendor/Erebot_Module_Admin"]
	path = vendor/Erebot_Module_Admin
	url = git://github.com/fpoirotte/Erebot_Module_Admin.git
[submodule "vendor/Erebot_Module_AutoConnect"]
	path = vendor/Erebot_Module_AutoConnect
	url = git://github.com/fpoirotte/Erebot_Module_AutoConnect.git
[submodule "vendor/Erebot_Module_AutoIdent"]
	path = vendor/Erebot_Module_AutoIdent
	url = git://github.com/fpoirotte/Erebot_Module_AutoIdent.git
[submodule "vendor/Erebot_Module_AutoJoin"]
	path = vendor/Erebot_Module_AutoJoin
	url = git://github.com/fpoirotte/Erebot_Module_AutoJoin.git
[submodule "vendor/Erebot_Module_AZ"]
	path = vendor/Erebot_Module_AZ
	url = git://github.com/fpoirotte/Erebot_Module_AZ.git
[submodule "vendor/Erebot_Module_Countdown"]
	path = vendor/Erebot_Module_Countdown
	url = git://github.com/fpoirotte/Erebot_Module_Countdown.git
[submodule "vendor/Erebot_Module_CtcpResponder"]
	path = vendor/Erebot_Module_CtcpResponder
	url = git://github.com/fpoirotte/Erebot_Module_CtcpResponder.git
[submodule "vendor/Erebot_Module_Feeds"]
	path = vendor/Erebot_Module_Feeds
	url = git://github.com/fpoirotte/Erebot_Module_Feeds.git
[submodule "vendor/Erebot_Module_GoF"]
	path = vendor/Erebot_Module_GoF
	url = git://github.com/fpoirotte/Erebot_Module_GoF.git
[submodule "vendor/Erebot_Module_Helper"]
	path = vendor/Erebot_Module_Helper
	url = git://github.com/fpoirotte/Erebot_Module_Helper.git
[submodule "vendor/Erebot_Module_IrcConnector"]
	path = vendor/Erebot_Module_IrcConnector
	url = git://github.com/fpoirotte/Erebot_Module_IrcConnector.git
[submodule "vendor/Erebot_Module_IrcTracker"]
	path = vendor/Erebot_Module_IrcTracker
	url = git://github.com/fpoirotte/Erebot_Module_IrcTracker.git
[submodule "vendor/Erebot_Module_LagChecker"]
	path = vendor/Erebot_Module_LagChecker
	url = git://github.com/fpoirotte/Erebot_Module_LagChecker.git
[submodule "vendor/Erebot_Module_Math"]
	path = vendor/Erebot_Module_Math
	url = git://github.com/fpoirotte/Erebot_Module_Math.git
[submodule "vendor/Erebot_Module_MiniSed"]
	path = vendor/Erebot_Module_MiniSed
	url = git://github.com/fpoirotte/Erebot_Module_MiniSed.git
[submodule "vendor/Erebot_Module_PhpFilter"]
	path = vendor/Erebot_Module_PhpFilter
	url = git://github.com/fpoirotte/Erebot_Module_PhpFilter.git
[submodule "vendor/Erebot_Module_PingReply"]
	path = vendor/Erebot_Module_PingReply
	url = git://github.com/fpoirotte/Erebot_Module_PingReply.git
[submodule "vendor/Erebot_Module_RateLimiter"]
	path = vendor/Erebot_Module_RateLimiter
	url = git://github.com/fpoirotte/Erebot_Module_RateLimiter.git
[submodule "vendor/Erebot_Module_Roulette"]
	path = vendor/Erebot_Module_Roulette
	url = git://github.com/fpoirotte/Erebot_Module_Roulette.git
[submodule "vendor/Erebot_Module_ServerCapabilities"]
	path = vendor/Erebot_Module_ServerCapabilities
	url = git://github.com/fpoirotte/Erebot_Module_ServerCapabilities.git
[submodule "vendor/Erebot_Module_Thiercelieux"]
	path = vendor/Erebot_Module_Thiercelieux
	url = git://github.com/fpoirotte/Erebot_Module_Thiercelieux.git
[submodule "vendor/Erebot_Module_TriggerRegistry"]
	path = vendor/Erebot_Module_TriggerRegistry
	url = git://github.com/fpoirotte/Erebot_Module_TriggerRegistry.git
[submodule "vendor/Erebot_Module_TV"]
	path = vendor/Erebot_Module_TV
	url = git://github.com/fpoirotte/Erebot_Module_TV.git
[submodule "vendor/Erebot_Module_Uno"]
	path = vendor/Erebot_Module_Uno
	url = git://github.com/fpoirotte/Erebot_Module_Uno.git
[submodule "vendor/Erebot_Module_WatchList"]
	path = vendor/Erebot_Module_WatchList
	url = git://github.com/fpoirotte/Erebot_Module_WatchList.git
[submodule "vendor/Erebot_Module_WebGetter"]
	path = vendor/Erebot_Module_WebGetter
	url = git://github.com/fpoirotte/Erebot_Module_WebGetter.git
[submodule "vendor/Erebot_Module_Wordlists"]
	path = vendor/Erebot_Module_Wordlists
	url = git://github.com/fpoirotte/Erebot_Module_Wordlists.git
[submodule "vendor/dependency-injection"]
	path = vendor/dependency-injection
	url = git://github.com/fpoirotte/dependency-injection.git
[submodule "buildenv"]
	path = buildenv
	url = git://github.com/fpoirotte/Erebot_Buildenv.git
[submodule "tests/testenv"]
	path = tests/testenv
	url = git://github.com/fpoirotte/Erebot_Testenv.git
